* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://i1.adis.ws/i/canon/future_of_forests_header_16x9_dc14bbe1e35040f79bf566eedaf5c8f7?$hero-header-half-16by9-dt$);
  background-size: auto;
}
.LogoName{
 font-size: 40px;
 color: rgb(0, 0, 0);
  background-color:  rgb(131, 198, 129);
  padding: 12px 18px ;
  border-radius: 0 0 15px 15px;

  font-family: "Nunito", sans-serif;
}
.Buttons{
   display: flex;
  justify-content: space-around;
  
  padding: 10px;
  /* gap: 0px; */
}
.AddNoteButton, .ClearListButton{
  width: 14vw;
  height: 13vh;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black; /*for dev*/
  border-radius: 5px;
  color: blanchedalmond;

}
.Todo{
  display: flex;
flex-direction: column;

}
.Todo .noteTitleText::placeholder, 
.Todo .noteTextText::placeholder
{
  text-align: center;
  
}

.Todo .noteTitle, .Todo .noteText{
border-radius: 10px;
}
.noteTitleText, .noteTextText{
  height: 5vh;
  border-radius: 7px;
  margin-bottom: 10px;
}

.Notes{
  margin-top: 10px;
  border: 3px solid black; /*for dev*/
  border-radius: 7px;
  
}
.Note{
  border: 1px solid black; /*for dev*/
  display: flex;
  
  margin: 10px 20px;
  padding: 11px;
  background-color: rgb(114, 186, 113);
  border-radius: 10px;
  gap: 10px;
  font-family: "Caveat", cursive;
}
.Note .NoteTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.Note .NoteButtons{
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-left: 1px solid black;
  padding: 0 8px 0;
  
}
.Note .NoteText{
  border-top: 1px solid black;
  
}
 .RedactingButton, .DeleteButton, .CompleteButton{
  background-color: rgba(0, 0, 0, 0.6);
  color: blanchedalmond;
  border-radius: 5px;
  padding: 8px;
 }







